/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1,
  h2,
  h3 {
    color: var(--title-color);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button,
  input {
    border: none;
    outline: none;
  }

  button {
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/
  .section {
    padding: 4rem 0 2rem;
  }

  .section__title {
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
  }

  .section__title-gradient {
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  /*=============== LAYOUT ===============*/
  .main {
    overflow: hidden;
  }

  .container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .grid {
    display: grid;
  }

/*=============== HOME ===============*/
.home__img {
    width: 250px;
    position: absolute;
    top: -7rem;
    right: 3.5rem;
  }

  .home__data {
    padding-top: 5rem;
  }

  .home__header {
    position: relative;
  }

  .home__title {
    position: absolute;
    top: -4rem;
    left: 1rem;
    line-height: 6rem;
    font-size: var(--big-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .home__subtitle {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2-5);
  }

  .home__title-description {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }

  .home__description {
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-height);
  }

  .home__price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
  }

  /*=============== BUTTONS ===============*/
  .button {
    display: inline-block;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
  }

  .button:hover {
    background-color: var(--black-color-alt);
  }

  .button__icon {
    font-size: 1.2rem;
  }

  .button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
  }

  /*=============== catalog ===============*/
  .catalog__img {
    width: 90px;
  }

  .catalog__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
  }

  /*=============== about ===============*/
  .about__container {
    position: relative;
  }

  .about__content {
    row-gap: 1.5rem;
  }

  .about__data {
    display: grid;
    row-gap: .25rem;
  }

  .about__icon {
    font-size: 1.2rem;
    color: var(--white-color);
  }

  .about__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }


  .about__data:nth-child(1),
  .about__data:nth-child(4) {
    margin-left: 1.5rem;
  }

  .about__img {
    width: 250px;
    position: absolute;
    top: 2rem;
    right: -4rem;
  }


  /*=============== DISCOUNT ===============*/
  .discount__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
  }

  .discount__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
  }

  .discount__description {
    margin-bottom: var(--mb-1);
  }

  .discount__img {
    width: 300px;
    position: absolute;
    top: 4rem;
    right: -11rem;
  }

  /*=============== PRODUCTS ===============*/
  .products__line {
    line-height: 4rem;
  }

  .products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 1.5rem;
    padding-top: 3rem;
  }

  .products__card {
    position: relative;
    height: 132px;
    background-color: var(--container-color);
    padding: .75rem;
    border-radius: .5rem;
    display: grid;
  }

  .products__img {
    width: 80px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: -3rem;
  }

  .products__content {
    align-self: flex-end;
  }

  .products__title,
  .products__price {
    font-size: var(--small-font-size);
  }

  .products__price {
    font-weight: var(--font-semi-bold);
  }

  .products__button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    padding: .5rem;
    border-radius: .35rem;
  }

  /*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
  }

  .scrollup:hover {
    background-color: var(--black-color);
    opacity: 1;
  }

  .scrollup__icon {
    color: var(--white-color);
    font-size: 1.35rem;
  }

  /* Show Scroll Up*/
  .show-scroll {
    bottom: 5rem;
  }

  /*=============== SCROLL BAR ===============*/
  ::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-color-alt);
  }
