body {
    background-image: -moz-linear-gradient(0deg, #5295fe 0%, #3399ff 100%);
    background-image: -webkit-linear-gradient(0deg, #5295fe 0%, #3399ff 100%);
    background-image: -ms-linear-gradient(0deg, #5295fe 0%, #3399ff 100%);
    color: #DC6640;
}
